---
export interface Props {
  rounded?: "full"
  className?: string
}

const { rounded, className } = Astro.props
---

<button
  type="submit"
  class:list={[
    className || "",
    rounded ? "rounded-full" : "rounded",
    `bg-primary-base transition-all shadow-primary px-6 py-3 text-base font-bold text-slate-100 hover:bg-primary-light md:text-lg md:w-max`,
  ]}
>
  <slot />
</button>
