---
export interface Props {
  description: string
  name: string
}

const { description, name } = Astro.props
---

<div
  class="swiper-slide flex !h-max flex-col items-center gap-3 rounded border border-slate-300 p-4"
>
  <p class="text-center text-slate-600">{description}</p>

  <strong class="text-base font-bold text-slate-800">{name}</strong>
</div>
