---
import Header from "@/components/Header.astro"
import "@/global.css"
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preconnect" href="https://cdn.jsdelivr.net" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>

    <script defer type="module">
      import "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
      const desktop = window.matchMedia("(min-width: 1024px)")

      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        loop: true,
        slidesPerView: desktop.matches ? 2 : 1,
        spaceBetween: desktop.matches ? 32 : 12,
      })

      desktop.addEventListener("change", () => {
        if (desktop.matches) {
          swiper.params.slidesPerView = 2
        } else {
          swiper.params.slidesPerView = 1
        }
      })
    </script>
  </body>
</html>
